**/node_modules/
package-lock.json
**/package-lock.json

fason/app/build/
fason/.gradle/
fason/build/
frontend/dist/
backend/dist/

backend/data/
backend/drizzle/

.git/
.gitignore
.github/

docker/Dockerfile
docker/docker-compose*.yml

.idea/
.vscode/

*.log
npm-debug.log*

.env
.env.*
!.env.example

*.md
